<!DOCTYPE html>
<html lang="hu">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <title>
        <%= title %>
    </title>
</head>

<body class="bg-indigo-500">
    <%- include('header') %>
        <div class="justify-center p-5 mx-auto m-4 w-4/5 rounded text-center bg-blue-400">
            <p class="text-5xl m-4">
                <%= cikk.CIM %>
            </p>
            <a class="text-2xl my-4 text-gray-700 hover:underline" href="/profil/<%= szerzo %>">
                <%= szerzo %></a>
                <p class="text-2xl my-4 text-gray-700 inline">
                    (<%= cikk.MODOSITASOKSZAMA %>)
                </p>
                <br>
            <% if (cikk.ALLAPOT != 3) { %>
                <% let allapot; %>
                <% switch (cikk.ALLAPOT) {
                        case 0:
                            allapot = "Szerkesztés alatt";
                            break;
                        case 1:
                            allapot = "Lektorálásra vár";
                            break;
                        case 2:
                            allapot = "Lektorálás alatt: \<a class='hover:underline' href='/profil/" + lektorNev + "'>" + lektorNev + "\</a> által";
                            break;
                        default:
                            allapot = "Ismeretlen";
                            break;
                    } %>
                <p class="text-xl m-4 text-gray-800">
                    Cikk állapota: <%- allapot  %>
                </p>
            <% } %>
            <%  if (user !== undefined) {
                
                const isUserLektor = user.lektorAzon === cikk.LEKTORAZON;
                const isUserAuthor = user.azon === cikk.SZERZOAZON;
                const isUserAdmin = user.admin;
                const isDraft = cikk.ALLAPOT == 0;
                const isWaitingForLektor = cikk.ALLAPOT == 2;

                if ((isUserLektor || isUserAdmin) && isWaitingForLektor) { %>
                <button class="bg-indigo-500 hover:bg-indigo-600 p-2 m-2 rounded" onclick="finalizeCikk('<%= cikk.AZON %>')">Cikk véglegesítése</button>
            <%  } if ((isUserAuthor || isUserAdmin || isUserLektor)) { %>
                <button class="bg-green-500 hover:bg-green-600 p-2 m-2 rounded" onclick="location.href='/cikkek/<%= cikk.AZON %>/edit'">Szerkesztés</button>
            <%  }  if ((isUserAuthor || isUserAdmin) && isDraft) { %>
                <button class="bg-blue-500 hover:bg-blue-600 p-2 m-2 rounded" onclick="sendForLektor('<%= cikk.AZON %>')">Lektorálásra küldés</button>
            <%  } if (isUserAuthor || isUserAdmin) { %>
                <button class="bg-red-500 hover:bg-red-600 p-2 m-2 rounded" onclick="deleteCikk('<%= cikk.AZON %>')">Törlés</button>
            <%  }  %>
            <% } %>
        </div>
        <div class="grid grid-cols-7 gap-1">
            <div class="col-span-6 m-3 p-3 h-svh rounded flex flex-col bg-white">
                <p id="tartalom" name="tartalom" class="appearance-none text-xl bg-transparent w-full focus:outline-none flex-grow overflow-scroll break-words"><%= cikk.TARTALOM %></p>
            </div>
            <div class="col-span-1 p-3 m-3 h-svh rounded bg-emerald-700 text-stone-200">
                <h1 class="text-2xl font-bold pb-3">Hasonló cikkek</h1>
                <% if(!hasonlocikkek){%>
                    <p class="italic font-light pb-5">Nincs hasonló cikk</p>
                    <% } else { %>
                    <% hasonlocikkek.forEach(element=> { %>
                        <div class="py-2 hover:text-blue-400"><a href="<%= element.AZON%>">
                            <u><%= element.CIM %></u>
                        </a></div>
                        <% }); %>
                        <% } %>
                <h1 class="text-2xl font-bold pb-3">Ez a cikk más nyelveken</h1>
                <% if(ezmasnyelven.length==1){%>
                    <p class="italic font-light pb-5">Ez a cikk csak ezen a nyelven van</p>
                    <% } else {%>
                        <% ezmasnyelven.forEach(element=> { %>
                            <div class="py-2 hover:text-blue-400"><a href="<%= element.AZON%>">
                                <u><%= element.CIM %></u>
                                </a></div>
                            <% }); } %>
                            
                                <h1 class="text-xl font-bold pt-5">A cikk kulcsszavai:</h1>
                                <% cikk.kulcsszavak.forEach(element=> { %>
                                    <p class="italic font-light">#<%=element.KULCSSZO%>
                                    </p>
                                    <% }); %>
            </div>
        </div>
        <% if (user !== undefined) { %>
            <% const isUserLektor = user.lektorAzon === cikk.LEKTORAZON;
                const isUserAuthor = user.azon === cikk.SZERZOAZON;
                const isUserAdmin = user.admin;
                const isDraft = cikk.ALLAPOT == 0;
                const isWaitingForLektor = cikk.ALLAPOT == 2; %>
            <% if (isUserAuthor || isUserAdmin) { %>
            <script>
                function deleteCikk(azon) {
                    fetch('/cikkek/' + azon, {
                        method: 'DELETE',
                    }).then((response) => {
                        if (response.ok) {
                            window.location.href = '/cikkek';
                        }
                    }).catch((error) => {
                        console.error('Error:', error);
                    });
                }
            </script>
        <% } %>
            <% if ((isUserAuthor || isUserAdmin) && isDraft) { %>
            <script>
                function sendForLektor(azon) {
                    fetch('/cikkek/' + azon + '/lektorSend', {
                        method: 'POST',
                    }).then((response) => {
                        if (response.ok) {
                            window.location.href = '/cikkek/' + azon;
                        }
                    }).catch((error) => {
                        console.error('Error:', error);
                    });
                }
            </script>
            <% } %>
            <% if ((isUserLektor || isUserAdmin) && isWaitingForLektor) { %>
            <script>
                function finalizeCikk(azon) {
                fetch('/cikkek/' + azon + '/finalize', {
                    method: 'POST',
                }).then((response) => {
                    if (response.ok) {
                        window.location.href = '/cikkek/' + azon;
                    }
                }).catch((error) => {
                    console.error('Error:', error);
                });
            }
            </script>
            <% } %>
            <% } %>

</body>