<!DOCTYPE html>
<html lang="hu">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <title><%= title %></title>
</head>

<body class="bg-indigo-500">
    <%- include('header') %>
    <div class="flex justify-center p-5 mx-auto my-0 w-4/5 rounded">
        <% if(typeof cikkek !== 'undefined') { %>
        <div class="flex justify-center items-center p-6">
            <div class="bg-gray-200 p-4 rounded-lg">
                <h1 class="flex justify-center items-center text-2xl pb-4">Cikkek</h1>
                <% if (user) { %>
                    <button class="items-center text-center justify-center bg-green-500 hover:bg-green-700 text-green-100 cursor-pointer font-bold flex p-2 mx-auto w-1/2 rounded" onclick="location.href='/cikkek/uj'">Új cikk létrehozása</button>
                <% } %>
                <div class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-6 xl:grid-cols-8 gap-4 m-4">
                    <% cikkek.forEach(cikk => { %>
                        <div class="flex flex-col justify-between text-center bg-slate-500 hover:bg-slate-700 text-white cursor-pointer p-2 rounded" onclick="location.href='/cikkek/<%=cikk.AZON%>'">
                            <div><%=cikk.CIM%></div>
                            <div class="mt-auto"><i><%= cikk.SZERZONEV %></i></div>
                        </div>
                    <% }) %>
                </div>
            </div>
        </div>
        <% } else { %>
        <div class="text-2xl text-white">Nincs megjeleníthető adat!</div>
        <% } %>
    </div>
</body>

</html>