<!DOCTYPE html>
<html lang="hu">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <title><%= title %></title>
</head>

<body class="bg-indigo-500">
    <%- include('header') %>
    <div class="flex justify-center p-5 mx-auto m-4 w-4/5 rounded text-center bg-blue-400">
        <p class="text-5xl m-4"><%= cikk.CIM %></p>
        <% if (user !== undefined && (user.azon === cikk.SZERZOAZON || user.admin)) { %>
            <button class="bg-red-500 hover:bg-red-600 p-2 m-2 rounded" onclick="deleteCikk('<%= cikk.AZON %>')">Törlés</button>
        <% } %>
    </div>
    <div class="m-3 p-3 bg-white h-svh rounded">
        <p class="text-xl"><%= cikk.TARTALOM %></p>
    </div>
    <% if (user !== undefined && (user.azon === cikk.SZERZOAZON || user.admin)) { %>
        <script>
        function deleteCikk(azon) {
            fetch('/cikkek/' + azon, {
                method: 'DELETE',
            }).then((response) => {
                if (response.ok) {
                    window.location.href = '/cikkek';
                }
            }).catch((error) => {
                console.error('Error:', error);
            });
        }
    </script>
    <% } %>
</body>