<!DOCTYPE html>
<html lang ="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <title><%= title %></title>
</head>
<body class="bg-indigo-500">
    <%- include('header') %>

    <% if (user) { %>
        <p class="text-3xl text-center justify-center items-center text-white p-4">Üdvözlünk az oldalon <%= user.nev %>!</p>
    <% } else  { %>
        <p class="text-3xl text-center justify-center items-center text-white p-4">Üdvözlünk az oldalon!</p>
    <% } %>

    <div class="flex justify-center items-center p-6">
        <div class="bg-gray-200 p-4 rounded-lg">
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" onclick="location.href='/cikkek'">
                Cikkek
            </button>
            <% if (user) { %>
            <button class="bg-lime-500 hover:bg-lime-700 text-white font-bold py-2 px-4 rounded" onclick="location.href='/hibajelentesek'">
                Hibajelentések
            </button>
            <% } %>
            <% if (user !== undefined && user.admin) { %>
                <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" onclick="location.href='/admin'">
                    Admin
                </button>
                <button class="bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded" onclick="location.href='/admin/lektoradd'">
                    Lektor hozzárendelése cikkhez
                </button>
            <% } %>
        </div>
    </div>

    <div class="grid sm:grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-2">
        <div class="flex justify-center items-center p-6">
            <div class="bg-gray-200 p-4 rounded-lg">
                <h1 class="flex justify-center items-center text-2xl pb-4">Lektorjaink száma szakterületenként</h1>
                <table>
                    <thead>
                        <th class="px-4 py-2 border bg-indigo-600 text-white">Szakterület</th>
                        <th class="px-4 py-2 border bg-indigo-600 text-white">Lektorok száma</th>
                    </thead>
                    <tbody>
                        <% szakteruletek.forEach(szakterulet => { %>
                        <tr class="px-4 py-2 border bg-slate-500 hover:bg-slate-700 text-white text-center">
                            <td class="px-4 py-2">
                                <p><%= szakterulet.SZAKTERULET %></p>
                            </td>
                            <td class="px-4 py-2">
                                <p><%= szakterulet.LEKTOROKSZAMA %></p>
                            </td>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="flex justify-center items-center p-6">
            <div class="bg-gray-200 p-4 rounded-lg">
                <h1 class="flex justify-center items-center text-2xl pb-4">Átlag felett módosított cikkjeink</h1>
                <table>
                    <thead>
                        <th class="px-4 py-2 border bg-indigo-600 text-white">Szerző</th>
                        <th class="px-4 py-2 border bg-indigo-600 text-white">Cím</th>
                        <th class="px-4 py-2 border bg-indigo-600 text-white">Módosítások száma</th>
                    </thead>
                    <tbody>
                        <% atlagModositasFelettiCikkek.forEach(cikk => { %>
                        <tr class="px-4 py-2 border bg-slate-500 hover:bg-slate-700 text-white text-center cursor-pointer" onclick="location.href='/cikkek/<%= cikk.AZON %>'">
                            <td class="px-4 py-2">
                                <p><%= cikk.SZERZONEV %></p>
                            </td>
                            <td class="px-4 py-2">
                                <p><%= cikk.CIM %></p>
                            </td>
                            <td class="px-4 py-2">
                                <p><%= cikk.MODOSITASOKSZAMA %></p>
                            </td>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="grid grid-cols-1 justify-center items-center p-6">
            <div class="flex justify-center items-center p-6">
            <div class="bg-gray-200 p-4 rounded-lg">
                <h1 class="flex justify-center items-center text-2xl pb-4">Legutolsó három cikkünk</h1>
                <table class="table-auto">
                    <thead>
                        <th class="px-4 py-2 border bg-indigo-600 text-white">Szerző</th>
                        <th class="px-4 py-2 border bg-indigo-600 text-white">Cím</th>
                    </thead>
                    <tbody>
                        <% legutobbiCikkek.forEach(cikk => { %>
                        <tr class="px-4 py-2 border bg-slate-500 hover:bg-slate-700 text-white cursor-pointer text-center" onclick="location.href='/cikkek/<%= cikk.AZON %>'">
                            <td class="px-4 py-2">
                                <p><%= cikk.SZERZO %></p>
                            </td>
                            <td class="px-4 py-2">
                                <p><%= cikk.CIM %></p>
                            </td>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
            </div>
            <div class="flex justify-center items-center p-6">
            <div class="bg-gray-200 p-4 rounded-lg">
                <h1 class="flex justify-center items-center text-2xl pb-4">Cikkek nyelv szerinti sorrendje</h1>
                <table class="table-auto">
                    <thead>
                        <th class="px-4 py-2 border bg-indigo-600 text-white">Cím</th>
                        <th class="px-4 py-2 border bg-indigo-600 text-white">#</th>
                    </thead>
                    <tbody>
                        <% nyelv.forEach(sor => {%>
                        <tr class="px-4 py-2 border bg-slate-500 hover:bg-slate-700 text-white cursor-pointer text-center" onclick="location.href='/cikkek/<%= sor.AZON %>'">
                            <td class="px-4 py-2">
                                <p><%= sor.CIM %></p>
                            </td>
                            <td class="px-4 py-2">
                                <p><%= sor.NYELVSZÁM %></p>
                            </td>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
        </div>
    </div>
</body>
</html>