<!DOCTYPE html>
<html lang="hu">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <title><%= title %></title>
</head>

<body class="bg-indigo-500">
    <%- include('header') %>
    <div class="flex items-center justify-center pt-10">
        <div class="w-full max-w-2xl mx-auto">
            <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
                <p class="text-center text-3xl font-bold p-3">Új cikk létrehozása</p>
                <% if(typeof error !== 'undefined'){%>
                    <p class="text-red-500 text-sm italic"><%= error %></p>
                <%}%>
                <form action="/cikkek/uj" method="POST">
                    <div class="mb-4">
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="cim">
                            Cím:
                        </label>
                        <input type="text" id="cim" name="cim" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                    </div>
                    <div class="mb-4">
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="szoveg">
                            Tartalom:
                        </label>
                        <textarea id="szoveg" name="szoveg" class="shadow appearance-none border rounded w-full h-32 min-h-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"></textarea>
                    </div>
                    <div class="mb-4">
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="nyelv">
                            Nyelv:
                        </label>
                        <select id="nyelv" name="nyelv" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                            <% nyelvek.forEach(nyelv => { %>
                            <option value="<%= nyelv.AZON %>"><%= nyelv.NYELV %></option>
                            <% }) %>
                        </select>
                    </div>
                    <div class="mb-6">
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="kulcsszavak">
                            Kulcsszavak:
                        </label>
                        <select id="kulcsszavak" name="kulcsszavak" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" multiple>
                            <% kulcsszavak.forEach(kulcsszo => { %>
                            <option value="<%= kulcsszo.AZON %>"><%= kulcsszo.KULCSSZO %></option>
                            <% }) %>
                        </select>
                    </div>
                    <div class="flex items-center justify-between">
                        <input type="submit" value="Beküldés" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>